<template name="navitems">
    <li class="{{ isActiveRoute regex='Home' }}"><a href="{{ pathFor 'home'}}">Home</a></li>

  {{#if currentUser}}

    <li class="{{ isActiveRoute regex='Simulation' }}"><a href="{{ pathFor 'simulation'}}">Simulation</a></li>
    <li class="{{ isActiveRoute regex='^Vessel' }}"><a href="{{ pathFor 'vessels' }}">Vessels</a></li>
    <li class="{{ isActiveRoute regex='Tracks' }}"><a href="{{ pathFor 'tracks'}}">Tracks</a></li>

  {{/if}}
    <li class="{{ isActiveRoute regex='About' }}"><a href="{{ pathFor 'about'}}">About</a></li>
  {{> loginButtons}}

</template>