<template name="vessel">
    <div class="container-full">

      {{#if getVessel }}
        <table class="table table-bordered">
            <tr>
            <th class="col-xs-4">Vessel Detail</th>
            <th class="col-xs-8">
                {{#if currentUser}}
                <button id='edit' class="btn btn-xs">Edit</button>
                <button id="delete" class="btn btn-xs">Delete</button>
                {{/if}}
            </th>
            </tr>
            <tr>
                <td class="col-xs-4">Vessel ID</td>
                <td class="col-xs-8">{{ getVessel._id }}</td>
            </tr>
            <tr>
                <td class="col-xs-4">Vessel Name:</td>
                <td class="col-xs-8">{{ getVessel.name }}</td>
            </tr>
            <tr>
                <td class="col-xs-4">
                  Example
                </td>
                <td class="col-xs-8">
                  {{ getVessel.isExample}}
                </td>
            </tr>
            <tr>
                <td class="col-xs-4">Owner</td>
                <td class="col-xs-8">{{ getVessel.owner}}</td>
            </tr>
        </table>
      {{/if}}
        <form >
            <input type="text" id="vesselName" placeholder="Enter new vessel name"/>
            <button type="submit">Save</button>

        </form>
    </div>

</template>