<template name="vessellist">
    <div class="row">
        <div class="col-sm-3">
            {{#each vesselList}}
                    <a href="{{pathFor 'vessel'}}" class="btn btn-block btn-xs {{ maybeSelected }}">{{name}}</a>
              {{/each}}
        </div>
        <div class="col-sm-9">
            {{> vessel selectedVessel}}
        </div>
    </div>
</template>